<p id="notice"><%= notice %></p>
<style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid green;
  padding: 10px;
}
</style>

<div class='center'>
  <p>
    <strong>Name:</strong>
    <%= @movie.name %>
  </p>
  
  <p>
    <strong>Type:</strong>
    <%= @movie.movie_type %>
  </p>
  
  <p>
    <strong>Released date:</strong>
    <%= @movie.released_date %>
  </p>
  
  <p>
    <strong>Leading role:</strong>
    <% @movie.actors.each do |actor| %>
      <%= link_to actor.name, actor %>,
    <% end %>
  </p>
  
  <%= link_to 'Back', movies_path %>
</div>

